:root {
  --color-primary: #FFC64D;
  --color-secondary: #806326;
  --color-accent: #FFAD00;
  --color-background: #CC8B00;
  --color-text: #000000;

  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Hind", sans-serif;

  --font-weight-bold: bolder;
  --font-weight-medium: bold;
  --font-weight-normal: normal;
  --font-weight-light: lighter;

  --font-style-normal: normal;
  --font-style-italic: italic;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-weight: var(--font-weight-bold);
}

h2 {
  font-weight: var(--font-weight-light);
}

h3 {
  font-weight: var(--font-weight-medium);
}

h4, h5 {
  font-weight: var(--font-weight-normal);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-primary);
  color: var(--color-text);
}

ul, ol {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
}

dt {
  font-weight: var(--font-weight-medium);
}

a {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-light);
  color: var(--color-text);
}

blockquote, cite {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-italic);
  color: var(--color-text);
}

q {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-italic);
  color: var(--color-text);
}

em {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-style: var(--font-style-normal);
  color: var(--color-text);
}

strong {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  color: var(--color-text);
}
