<div class="nav-banner grid">
  <ul class="center-flow center-content-horizontal pad-t gutter-2 list-group list-group-inline unit xs-1-2 s-1-2 m-3-4 l-3-4 xl-3-4">
    <li class="{% if page.highlight_nav == 'products' %}current{% endif %}"><a class="exa valign-middle no-underline" href="/products/">Skate Stuff</a></li>
    <li class="{% if page.highlight_nav == 'product-details' %}current{% endif %}"><a class="exa valign-middle gutter-2 no-underline" href="/product-details/">Specs</a></li>
    <li class="{% if page.highlight_nav == 'checkout' %}current{% endif %}"><a class="exa valign-middle no-underline" href="/checkout/">Checkout</a></li>
  </ul>
  <a href="/" class="image island unit xs-1-2 s-1-2 m-1-4 l-1-4 xl-1-4">
    <img class="img-flex" src="/images/logo.svg" alt="#">
  </a>
</div>
